body {
    padding: 10px;
}

[v-cloak] {
  display: none;
}

#modal {
    display: none;
    background-image: url(../images/bg-transparency.png);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 300;
}

#modal.modal-visible {
    display: block!important;
}

#modal #modal-contenu {
    background-color: #eee;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

#indice {
    text-align: center;
}

#indice h1 {
    text-transform: capitalize;
}

#indice h1 span {
    text-transform: none;
    color: #555;
}

#indice h1 strong {
    text-decoration: underline;
    cursor: pointer;
}

#indice h1 strong:hover {
    opacity: .5;
}

.profil {
    background-color: #f0e9d9;
    border: 2px solid #f4eee0;
    position: absolute;
    right: 28px;
    top: 16px;
    overflow: hidden;
    height: 102px;
}

.profil img {
    width: 78px;
    vertical-align: middle;
}

.row {
    margin-bottom: 20px;
}

.carte {
    position: relative;
    background-color: #f5e1c8;
    width: 100%;
    height: 200px;
    border-radius: 2px;
    cursor: pointer;
}

.carte:hover {
    box-shadow: 6px 5px 10px 0px #ccc;
}

.interieur {
    padding: 10px;
}

.bordure {
    border: 2px solid #b7a285;
    height: 166px;
    border-radius: 5px;
    padding: 5px;
}

.decor-rond {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5e1c8;
    box-shadow: 6px 5px 5px 0px #ccc;
    padding: 5px;
}

.decor-rond-interieur {
    background-color: #f4eee0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    box-shadow: inset 2px 1px 5px #b7a285;
}

.zone-texte {
    position: relative;
    top: 20px;
}

.zone-inverse {
    position: relative;
    width: 70%;
    border-bottom: 2px solid #938d8f;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.texte-inverse {
    position: relative;
    transform: rotate(180deg);
    display: inline-block;
    color: #938d8f;
    font-size: 22px;
    text-transform: uppercase;
}

.texte {
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
}
.bonneReponse::before, .mauvaiseReponse::before {
    font-family: "FontAwesome";
    top: 5px;
    right: 15px;
    position: absolute;
    font-size: 32px;
    z-index: 100;
}
.bonneReponse::before {
    content: "\f046";
    color: green;
}

.bonneReponse .bordure {
    border-color: green;
}

.bonneReponse .decor-rond-interieur{
    background-color: green;
}

.mauvaiseReponse::before {
    content: "\f00d";
    color: red;
}

.mauvaiseReponse .bordure {
    border-color: red;
}

.mauvaiseReponse .decor-rond-interieur{
    background-color: red;
}
