<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Code Name</title>
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/codename-evenement.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>

    <div class="" id="app" v-cloak>
        <div id="modal" v-bind:class="{'modal-visible': modalVisible}" v-on:click="modalVisible = false">
            <div id="modal-contenu" class="ten columns offset-by-one">
                <div class="row">
                    <h1>Bien joué !</h1>
                    <img class="u-max-full-width" :src="'images/anecdotes/' + anecdote" alt="">
                </div>
            </div>
        </div>
        <div id="indice"><h1>Indice : <strong v-on:click="autreIndice()">{{indice}}</strong> - <span>en {{cartes[indice].length}}</span></h1></div>
        <div class="row" v-for="chunk in getChunkCartes">
            <div class="three columns" v-for="(carte, index) in chunk">
                <div class="carte" v-on:click="selectionneCarte(carte)" v-bind:class="{bonneReponse: partie[carte] === true, mauvaiseReponse: partie[carte] === false}">
                    <div class="interieur">
                        <div class="bordure">
                            <div class="decor-rond">
                                <div class="decor-rond-interieur">
                                </div>
                            </div>
                            <div class="profil">
                                <img v-if="index % 2 == 0" src="images/homme.png" alt="homme">
                                <img v-if="index % 2 != 0" src="images/femme.png" alt="femme">
                            </div>
                            <div class="zone-texte">
                                <div class="zone-inverse">
                                    <div class="texte-inverse">
                                        {{carte}}
                                    </div>
                                </div>
                                <div class="texte">{{carte}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/lodash.js"></script>
    <script type="text/javascript" src="js/codename-evenement.js"></script>
</body>
</html>
